.form-input{
    height: 36px;
    width: 100%;
    border: 1px solid #0c3869;
    border-radius: 500px;
    padding-left: 30px;
    font-size: 14px;
    color: #666666;
}

.inventory-container{
    width : 700px;
    margin : auto;
}